<% include partials/header.ejs %>
<% include partials/menu.ejs %>
<form method="<%= method %>" action="<%= action %>">
    <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" class="form-control" id="email" name="email">
    </div>

    <button type="submit" class="btn btn-default">Submit</button>
</form>

<% include partials/footer.ejs %>