<% include partials/header.ejs %>
<% include partials/menu.ejs %>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-12">

            <div class="panel panel-default">
                <div class="panel-heading">User List</div>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Registered</th>
                            <th>E-mail</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% users.forEach(function(user){%>
                            <tr>
                                <td><%= user.registered %></td>
                                <td><%= user.email %></td>
                                <td><a href="/update/<%= user._id %>">Edit</a></td>
                                <td><a href="/delete/<%= user._id %>">Delete</a></td>
                            </tr>
                        <% }) %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<% include partials/footer.ejs %>